.main-logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  cursor: pointer;
  user-select: none;
}
