.credit-item {
  display: flex;
  justify-content: center;
  background-color: black;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.credit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: -100px;
}

.credit-item img {
  width: 200px;
  height: auto;
}

.credit-item .nicolas-img {
  width: 400px;
}
.credit-item .nicolas-title {
  margin-top: 10px;
}

.credit-item .hamid-img {
  padding-top: 30px;
  width: 250px;
}

.credit-item .hamid-title {
  margin-top: 110px;
}

.credit-page {
  background-color: black;
}

.logo-item {
  display: flex;
  justify-content: center;
}

.nicolas-title {
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
