.credit {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.credit-page {
  background-color: black;
}

.logo-item {
  display: flex;
  justify-content: center;
}
