.logo-account {
  display: flex;
  justify-content: center;
  background-color: black;
}

.error {
  display: flex;
  justify-content: center;
  background-color: white;
  opacity: 80%;
  margin-bottom: 5rem;
}

.credit {
  background-color: black;
}
