.logo-account {
  display: flex;
  justify-content: center;
  background-color: black;
}

.error {
  display: flex;
  justify-content: center;
  background-color: white;
  opacity: 80%;
  margin-bottom: 5rem;
}

.credit {
  background-color: black;
}

.return {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  font-size: 3rem;
  text-decoration: none;
  color: rgb(210, 26, 26);
}
