@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.container {
  max-width: 800px;
  max-height: 550px;
  margin: 0 auto;
  padding: 20px;
  background-color: #494949;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  z-index: 30;
}

.titlepop {
  margin: 0;
  text-align: center;
  color: #c5c5c5;
}

.bet-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.pilot-card {
  width: 200px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(34, 34, 34);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.name {
  margin-bottom: 5px;
}

.odds {
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
  z-index: 99;
}

.betting {
  text-align: center;
}

.choice {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.popup-orverlay {
  z-index: 30;
}

.popupbet,
.up,
.down,
.closebutton,
.montantbutton {
  padding: 8px 16px;
  margin: 0 5px;
  border: solid black 3px;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Luckiest Guy";
  font-size: 20px;
}

.montantbutton {
  margin: 6px 0 0 0;
  color: white;
  border-color: white;
}

.popupbet {
  position: relative;
  top: -25px;
  color: white;
}

.up {
  background-color: #4caf50;
  color: white;
}

.down {
  background-color: #f44336;
  color: white;
}

.amount {
  font-size: 16px;
  font-weight: bold;
}

.submit {
  margin-top: 0px;
  padding-top: 0px;
  border-top: 1px solid #ddd;
  text-align: center;
}

.logo {
  margin-bottom: 10px;
}

.popup {
  z-index: 9999;
}

.logo p {
  font-size: 24px;
  color: #b8b8b8;
}

.options {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: #bdbdbd;
}

.options > div {
  text-align: center;
}

.total,
.max {
  font-size: 18px;
  margin-top: 5px;
}

.popupbet:hover {
  background-color: #252424;
}

.up:hover {
  background-color: #6e8094;
}

.down:hover {
  background-color: #1f4c80;
}

.closebutton:hover {
  background-color: #aa0d0d;
}

.montantbutton:hover {
  background-color: #4b4a4a;
}

.coinbalance {
  color: rgb(0, 0, 0);
}

.bet-confirmation {
  display: flex;
  justify-content: center;
  color: green;
}

.popupbet {
  background-color: red;
}
